.data {
  min-height: 100vh;
  margin-top: -100px;
}

.content_data {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(500px, 100%), 1fr));
  grid-auto-rows: auto;
  grid-auto-flow: dense;
  align-items: center;
  place-items: center;
  padding-top: 100px;
  border-top: 1px solid var(--color-primary-acent);
  overflow: hidden;
}

/*galaxy*/

.system {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  transform: scaleX(3);
}

.planet {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  transform: scaleX(0.3);
}

.sun {
  width: 100px;
  height: 100px;
  color: #ebcb8b;
  transform: scaleX(0.3);
  border-radius: 50%;
  position: absolute;
  box-shadow: 0px 0px 30px 5px #d08770;
}

.moon {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  transform: scaleX(0.3);
  position: absolute;
  top: -100px;
  color: white;
  box-shadow: 0px 0px 30px 5px #f7f7ff;
}

.satelite {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  transform: scaleX(0.3);
  position: absolute;
  color: white;
  position: absolute;
  top: -90px;
  right: -40px;
}

/*colores*/
#one {
  color: #f06529;
  box-shadow: 0px 0px 20px 5px #e34c26;
}

#two {
  color: #264de4;
  box-shadow: 0px 0px 20px 5px #2965f1;
}

#tree {
  color: #61dbfb;
  box-shadow: 0px 0px 20px 5px #4c768d;
}

#four {
  color: #3c873a;
  box-shadow: 0px 0px 20px 5px #68a063;
}

#five {
  color: #f7f7ff;
}

.rotate {
  width: 100%;
  height: 100%;
  animation: rotate 12s linear infinite;
  position: absolute;
}

.content_planet {
  width: 40px;
  height: 40px;
  animation: correct 12s linear infinite;
  position: absolute;
}

#two_c {
  left: 85px;
}

#tree_c {
  left: 42.5px;
  top: 100px;
}

#four_c {
  margin-left: 25px;
}

#five_c {
  left: 95px;
  top: 50px;
}

.planet_index {
  width: 100%;
  height: 100%;
  position: absolute;
}

#one_i {
  animation: hiddenOnePlanet 12s infinite;
}

#two_i {
  animation: hiddenTwoPlanet 12s infinite;
}

#tree_i {
  animation: hiddenTreePlanet 12s infinite;
}

#four_i {
  animation: hiddenFourPlanet 12s infinite;
}

@keyframes rotate {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}

@keyframes correct {
  0% {
    transform: rotateZ(360deg);
  }
  100% {
    transform: rotateZ(0deg);
  }
}

@keyframes hiddenOnePlanet {
  0% {
    z-index: -999;
    transform: scale(0.9);
  }
  25% {
    z-index: -999;
    transform: scale(1);
  }
  50% {
    z-index: 999;
    transform: scale(1.3);
  }
  75% {
    z-index: 999;
    transform: scale(1);
  }
  100% {
    z-index: 999;
    transform: scale(0.9);
  }
}

@keyframes hiddenTwoPlanet {
  0% {
    z-index: 999;
    transform: scale(1);
  }
  25% {
    z-index: -999;
    transform: scale(1);
  }
  50% {
    z-index: -999;
    transform: scale(1);
  }
  75% {
    z-index: 999;
    transform: scale(1);
  }
  100% {
    z-index: 999;
    transform: scale(1);
  }
}

@keyframes hiddenTreePlanet {
  0% {
    z-index: 999;
    transform: scale(1);
  }
  25% {
    z-index: -999;
    transform: scale(1);
  }
  50% {
    z-index: -999;
    transform: scale(1);
  }
  75% {
    z-index: 999;
    transform: scale(1);
  }
  100% {
    z-index: 999;
    transform: scale(1);
  }
}

@keyframes hiddenFourPlanet {
  0% {
    z-index: -999;
    transform: scale(1);
  }
  25% {
    z-index: -999;
    transform: scale(1);
  }
  50% {
    z-index: 999;
    transform: scale(1);
  }
  75% {
    z-index: 999;
    transform: scale(1);
  }
  100% {
    z-index: -999;
    transform: scale(1);
  }
}

.about_info {
  margin-left: 35px;
}
.about_info,
.exp_info {
  color: var(--color-primary);
  margin-bottom: 35px;
}

.about_info > h3,
.exp_info > h3 {
  color: var(--color-primary);
  margin: 0;
  position: relative;
  z-index: 1;
  font-weight: 300;
  font-size: 30px;
  display: inline-block;
  vertical-align: top;
  text-transform: uppercase;
  letter-spacing: 6px;
}

.about_info > h3:after,
.exp_info > h3:after {
  content: "";
  width: 6px;
  height: 6px;
  border-radius: 50%;
  position: absolute;
  bottom: -7px;
  left: 56px;
  right: 0;
  z-index: -1;
  background: var(--color-secundary-acent);
}

.about_info > h3:before,
.exp_info > h3:before {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  right: 0;
  width: 60px;
  background: var(--color-secundary-acent);
  height: 1px;
}

.about_text > h3 {
  margin-top: 25px;
  margin-bottom: 25px;
}

.about_text > p {
  text-align: justify;
}

.btn_content {
  padding-top: 25px;
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
}

.exp_box {
  width: 100%;
  background-color: var(--color-icon-base);
  color: var(--color-primary);
  margin-top: 15px;
  display: inline-block;
  vertical-align: top;
}

.box_content {
  padding: 35px;
  display: flex;
  gap: 15px;
}

.box_content + .box_content {
  border-top: 1px solid rgba(255, 255, 255, 0.05);
}

.box_left {
  min-height: 100%;
  max-width: 25%;
}

.box_left > img {
  max-width: 180px;
}

.box_rigth {
  max-width: 75%;
}

.rigth_detail {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
}

.rigth_detail > h6 {
  max-width: 80%;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 10px;
}
.rigth_detail > p:first-of-type {
  color: var(--color-primary-acent);
  font-size: 13px;
}

.rigth_detail > p {
  max-width: 100%;
}

.rigth_type {
  display: inline-block;
  padding: 5px 10px;
  color: var(--color-primary);
  background: var(--color-secundary-acent);
  font-size: 10px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 2px;
  position: absolute;
  top: 0;
  right: 0;
}

@media (max-width: 991px) {
  .separated {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .box_content {
    padding: 20px;
  }

  .rigth_type {
    position: relative;
    vertical-align: top;
    font-size: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .rigth_detail > h6 {
    max-width: 100%;
  }
}

@media (max-width: 767px) {
  .about_info {
    margin-left: 0;
  }

  .about_info,
  .exp_info {
    padding-bottom: 25px;
  }

  .about_info > h3,
  .exp_info > h3 {
    letter-spacing: 2px;
  }

  .btn_content {
    justify-content: center;
    align-items: center;
  }
  .separated {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .box_content {
    flex-direction: column;
  }

  .box_rigth {
    max-width: 100%;
  }

  .rigth_detail {
    padding-left: 0;
    padding-right: 0;
  }

  .rigth_type {
    margin-top: 5px;
  }
}
