@import "./globals.css";
@import "./components.css";
@import "./normalice.css";

html,
body {
  font-family: var(--font-family-primary);
  margin: 0;
  padding: 0;
  line-height: 1.7;
  font-size: 15px;
  font-weight: 300;
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  width: 0.4rem;
}

body::-webkit-scrollbar-track {
  background-color: var(--color-ligth);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--color-primary-acent);
}

html {
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a,
a:active,
a:visited {
  text-decoration: none;
  border: none;
}

h1,
h2,
h3,
h4 {
  margin-top: 0;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

.pp-section {
  background: var(--color-secundary);
}
.pp-scrollable {
  overflow-x: hidden;
}
.section {
  padding: 100px 0;
}

.container {
  max-width: 950px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

img {
  max-width: 100%;
  height: auto;
}
.color_switch {
  position: fixed;
  top: 25px;
  right: 25px;
  width: 45px;
  height: 45px;
  line-height: 50px;
  background: var(--color-primary);
  color: var(--color-icon-base);
  text-align: center;
  font-size: 20px;
  border-radius: 50%;
  z-index: 1111;
  cursor: pointer;
}

.btn {
  padding: 0 25px;
  line-height: 42px;
  position: relative;
  display: inline-block;
  background: none;
  border: 1px solid transparent;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 2px;
  -moz-transition: ease all 0.35s;
  -o-transition: ease all 0.35s;
  -webkit-transition: ease all 0.35s;
  transition: ease all 0.35s;
  background: var(--color-secundary-acent);
  color: var(--color-primary);
  box-shadow: 4px 4px var(--color-primary);
}

.btn:hover {
  background: var(--color-primary);
  color: var(--color-secundary-acent);
  box-shadow: 4px 4px var(--color-secundary-acent);
}

@media (max-width: 1200px) {
  .color_switch {
    top: 71px;
    right: 13px;
  }
}

@media (max-width: 767px) {
  .section {
    padding-bottom: 60px;
  }
}
