/* import styles text */
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  line-height: 1.7;
  font-size: 15px;
  font-weight: 300;
  --font-family-primary: "Rubik", sans-serif;
  --font-family-secundary: "Playfair Display", serif;
  --color-primary: #ffffff;
  --color-secundary: #10101a;
  --color-primary-acent: rgba(255, 255, 255, 0.6);
  --color-secundary-acent: #2fbf71;
  --color-icon-base: #0b0b13;
  --theme-bg-color-dark: #10101a;
  --theme-bg-color-light: #f7f7ff;
}
