/* movile header*/
.mov_header {
  padding: 15px;
  display: none;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 11;
  background: var(--bg-color-dark);
}

.mov_header > .c_flex {
  align-items: center;
}

.c_flex {
  display: flex !important;
}

.navbar {
  padding: 0;
}

.navbar > a {
  font-weight: 600;
  color: var(--color-primary);
  font-size: 1.5rem;
  line-height: 1;
}

.toogle_menu {
  width: 40px;
  height: 40px;
  position: relative;
  margin: 0;
  border-radius: 0;
  padding: 0;
  background: var(--color-secundary);
  border: none;
  margin-left: auto;
}

.toogle_menu span {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 25px;
  height: 2px;
  margin: auto;
  box-shadow: 0px -8px 0 0px currentColor, 0px 8px 0 0px currentColor;
  background: var(--color-primary);
  color: var(--color-primary);
}

.header_left {
  width: 250px;
  position: fixed;
  bottom: 0;
  top: 0;
  background: #0c0c14;
  overflow: hidden;
  color: #fff;
}

.header_left .scroll_bar {
  height: calc(100% - 50px);
}
.header_left .hl_top {
  text-align: center;
  position: relative;
  padding: 65px 25px 25px;
}

.header_left .hl_top:after {
  content: "";
  position: absolute;
  top: -180px;
  left: -50px;
  right: 0;
  bottom: 0;
  z-index: -1;
  border-radius: 0 0 50% 50%;
  width: 310px;
  height: 310px;
  background: #2fbf71;
}

.header_left .hl_top .img {
  /*   width: 120px;
  height: 120px; */
  overflow: hidden;
  display: inline-block;
  vertical-align: top;
  border-radius: 50%;
  border: 5px solid var(--color-primary);
}
.header_left .hl_top .img img {
  max-width: 100%;
}

.header_left .hl_top h5 {
  margin: 23px 0 0;
  font-weight: 300;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 7px;
  color: var(--color-primary);
}

.header_left .socials_icon {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 0;
  align-items: center;
  justify-content: center;
}
.socials_icon a {
  margin: 0 4px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50%;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: color 0.3s ease-in-out;
}

.socials_icon a:hover {
  color: var(--color-hover);
}

.nav_menu {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  gap: 20px;
}
.nav_menu li {
  padding-left: 30px;
  width: 100%;
}

.nav_link {
  margin: 0;
  color: rgba(255, 255, 255, 0.8);
  transition: ease all 0.35s;
  font-size: 12px;
  font-weight: 300;
  text-transform: uppercase;
  line-height: 18px;
  display: flex;
  align-items: center;
  gap: 20px;
}
/* validar */
.active {
  color: #2fbf71;
}

.nav_link:hover {
  color: var(--color-hover);
}

.header_left .nav_menu {
  padding-top: 45px;
  padding-bottom: 45px;
}

@media (max-width: 1200px) {
  .mov_header {
    display: block;
  }

  .header_left {
    -moz-transition: ease all 0.35s;
    -o-transition: ease all 0.35s;
    -webkit-transition: ease all 0.35s;
    transition: ease all 0.35s;
    left: -300px;
    z-index: 222;
  }
  .menu_open {
    left: 0;
  }
}

/* items */
