@import "./globals.css";
@import "./components.css";
@import "./normalice.css";

html,
body {
  font-family: var(--font-family-primary);
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  line-height: 1.7;
  font-size: 15px;
  font-weight: 300;
}

body::-webkit-scrollbar {
  width: 0.5rem;
}

body::-webkit-scrollbar-track {
  background-color: var(--color-ligth);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--color-secundary);
}

html {
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a,
a:active,
a:visited {
  text-decoration: none;
  border: none;
}
